@import '~bootstrap/scss/bootstrap.scss';
// @import './cerulean.css';
// @import './sketchy.css';
// @import './yeti.css';
// @import './cosmo.css';
// @import './superhero.css';
// @import './pulse.css';
// @import './solar.css';
// @import './united.css';
// @import './slate.css';
// @import './journal.css';
// @import './flaty.css';
// @import './spacelab.css';
// @import './sandstone.css';
// @import './minty.css';
// @import './lumen.css';
// @import './darkly.css';
// @import './lux.css';
//@import './cyborg.css';

.jumbotron.banner {
    min-height: 91vh;
    display: flex;
    background-size: cover;
    background-color:#212529;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 60px;
}

img.bgBanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.jumbotron h1 {
    font-weight:700;
    color:#3CB371;
    line-height: 1em;
    font-size: 71px;
}

.jumbotron h1 span {
    color:#9c4fe4;
}

div.col-lg-7 {
    z-index: 2;
}

.jumboImage {
    display: flex;
    background: none;
    background-size: cover;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 60px;
}

img.bgPostImg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secAbout  {
    padding-top: 100px;
    padding-bottom: 100px;
}

h1.servsTitle {
    font-weight:700;
    line-height: 1rem;
    font-size: 48px;
    color:white;
    margin: 50px;
}

.trainingServs h1 span {
    color:#3CB371;
}

.container-fluid.trainingServs {
    position: relative;
    background-color:#212529;
    padding-bottom: 60px;
    min-height: 60vh;
}

.container-fluid.trainingServs::after {
    content: "";
    background: url(https://firebasestorage.googleapis.com/v0/b/en-equilibrium-photos.appspot.com/o/jonathan-borba-R0y_bEUjiOM-unsplash.jpg?alt=media&token=b96b2949-fe0e-4cf1-93cf-92fc7cd5c026);
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.container.trainingServsCard {
    margin-top: -219px;
    padding-bottom: 60px;
}

.card-deck {
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.card {
    align-items: center;
}

.card-deck .card {
    // width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.05);
    border: none;
    margin-top: 20px;
}

.card-deck .card .card-img-top {
    margin-top: 25px;
}

.card-deck .card img {
    max-width: 70px;
    margin-bottom: 15px;
}

.card-deck .card .card-body h5{ 
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.container-fluid.blogHome {
    position: relative;
    background-color: #212529;
    margin-top: 60px;
    padding: 60px;
    min-height: 75vh;
}

.container-fluid.blogHome::after {
    content: "";
    background-image: url(https://firebasestorage.googleapis.com/v0/b/en-equilibrium-photos.appspot.com/o/fitness-3167418_1280.jpg?alt=media&token=c139ab98-8f44-46d9-9259-6e0d91f2424b);
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

h1.blogTitle {
    font-weight:700;
    line-height: 1rem;
    font-size: 48px;
    color:white;
    margin: 50px;
}

.blogHome h1 span {
    color:#9c4fe4;
}

.bgWorkoutImg {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/en-equilibrium-photos.appspot.com/o/john-fornander-wl8EzLeEya4-unsplash.jpg?alt=media&token=0d09c3dc-d3aa-46f9-8ac9-54998c2a9f67);
    background-size: cover;
}

.bgYogaImg {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/en-equilibrium-photos.appspot.com/o/jared-rice-NTyBbu66_SI-unsplash.jpg?alt=media&token=2c741c21-e698-49f4-a321-8f9a1beaad49);
    background-size: cover;
}

.bgNutritionImg {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/en-equilibrium-photos.appspot.com/o/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg?alt=media&token=3c183790-b2c3-45e4-9d87-2771847e49a3);
    background-size: cover;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
    overflow:hidden; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul {list-style-type: none;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    // background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color:white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color:#666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background:#eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background:#1abc9c;
    color:white !important
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

// .container {
//   max-width: 960px;
// }

.pricing-header {
  max-width: 700px;
}

// .card-deck .card {
//   min-width: 220px;
// }

button.btn.btn-link {
    width: 62px;
    height: 62px;
    text-decoration: none;
}

#home-btn {
    margin-left: 10px;
}

#toggler-btn {
    margin-right: 10px;
}

button.btn.btn-info {
    margin-bottom: 10px;
}

.plans-style {
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0 0;
}

.navbar-spacer {
    margin-top: 78px;
}

.btn-checkout {
    margin-top: 7px;
    text-decoration: none;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-image {
    width: 100%;
    height: 50%;
}

.featurette {
    margin-bottom: 4rem;
}

.featurette-image {
    width: 500px;
    // height: 500px;
}

.card-header {
    color:#fff !important;
    line-height: 30px;
}

.card-title {
    margin: 0px;
}

.login {
    font-size: 12px;
}

a.btn.btn-dark.active {
    height: 62px;
    background-color:#343a40 !important;
    border:#343a40 !important;
}

a.nav-item.nav-link.text-white {
    margin: 10px 10px 10px 10px;
}

#logoInverted {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}