// @import '~bootstrap/scss/bootstrap.scss';
// @import './cerulean.css';
// @import './sketchy.css';
// @import './yeti.css';
// @import './cosmo.css';
// @import './superhero.css';
// @import './pulse.css';
// @import './solar.css';
// @import './united.css';
// @import './slate.css';
// @import './journal.css';
// @import './flaty.css';
// @import './spacelab.css';
// @import './sandstone.css';
// @import './minty.css';
// @import './lumen.css';
// @import './darkly.css';
// @import './lux.css';
@import './cyborg.css';

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
    overflow:hidden; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul {list-style-type: none;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    // background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

// .container {
//   max-width: 960px;
// }

.pricing-header {
  max-width: 700px;
}

// .card-deck .card {
//   min-width: 220px;
// }

button.btn.btn-link {
    width: 62px;
    height: 62px;
    text-decoration: none;
}

#home-btn {
    margin-left: 10px;
}

#toggler-btn {
    margin-right: 10px;
}

button.btn.btn-info {
    margin-bottom: 10px;
}

.plans-style {
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0 0;
}

.navbar-spacer {
    margin-top: 78px;
}

.btn-checkout {
    margin-top: 7px;
    text-decoration: none;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-image {
    width: 100%;
    height: 50%;
}

.featurette {
    margin-bottom: 4rem;
}

.featurette-image {
    width: 500px;
    // height: 500px;
}

.card-header {
    color: #fff !important;
    line-height: 30px;
}

.card-title {
    margin: 0px;
}

.login {
    font-size: 12px;
}

a.btn.btn-dark.active {
    height: 62px;
    background-color: #343a40 !important;
    border: #343a40 !important;
}

a.nav-item.nav-link.text-white {
    margin: 10px 10px 10px 10px;
}

#logoInverted {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}